*
  margin: 0
  padding: 0
  box-sizing: border-box

html, body
  height: 100%
  width: 100%
  background: var(--bg-main)
  color: var(--text-primary)
  transition: background .3s ease, color .3s ease
  font-family: var(--font-inter), sans-serif

:root
  --font-inter: 'Inter'
  --topbar-height: clamp(60px, 6vw, 70px)
  --sidebar-width: 260px
  --sidebar-collapsed-width: 76px
  --bg-main: #f2f3f7
  --bg-topbar: #ffffff
  --text-primary: #1c1c1c
  --text-secondary: #545454
  --logo-color: #0044ff
  --hover-bg: rgba(0, 0, 0, 0.04)
  --border-color: rgba(0, 0, 0, 0.1)
  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-track
    background: var(--bg-topbar)

  &::-webkit-scrollbar-thumb
    background: rgba(0, 0, 0, 0.1)
    border-radius: 4px

    &:hover
      background: rgba(0, 0, 0, 0.15)


[data-theme="dark"]
  --bg-main: #0f1117
  --bg-topbar: #141726

  --text-primary: #f1f1f1
  --text-secondary: #c6c6c6

  --logo-color: #8fa2ff
  --hover-bg: rgba(255, 255, 255, 0.06)
  --border-color: rgba(255, 255, 255, 0.12)

  &::-webkit-scrollbar
    width: 8px

  &::-webkit-scrollbar-track
    background: var(--bg-topbar)

  &::-webkit-scrollbar-thumb
    background: rgba(255, 255, 255, 0.1)
    border-radius: 4px

    &:hover
      background: rgba(255, 255, 255, 0.15)