.sidebar
  width: 250px
  padding: 1.5rem
  background: var(--card-bg)
  border: 1px solid var(--border-color)
  border-radius: 1rem
  height: fit-content

.title
  font-size: 1.3rem
  font-weight: 600
  margin-bottom: 1rem
  color: var(--text-primary)

.list
  display: flex
  flex-direction: column
  gap: 0.9rem

.category
  display: flex
  align-items: center
  padding: 0.7rem 0.8rem
  border-radius: 0.7rem
  border: 1px solid var(--border-color)
  background: var(--bg-main)
  cursor: pointer
  transition: 0.2s ease

  &:hover
    background: var(--hover-bg)

.colorDot
  width: 14px
  height: 14px
  border-radius: 50%
  margin-right: 0.6rem

.icon
  margin-left: auto
  color: var(--text-secondary)
  font-size: 1rem
